# Using Database with Python

In [ ]:
CREATE TABLE Users(
    name VARCHAR(128),
    email VARCHAR(128)
)

Insert Values:

In [ ]:
INSERT INTO Users(name,email) VALUES('James', 'james@umich.edu')

SQL Delete

In [ ]:
DELETE FROM Users WHERE email='ted@umich.edu'

SQL: Update

In [ ]:
UPDATE Users SET name='Kate' WHERE email='kate@umich.edu'

SQL: Select

In [ ]:
SELECT * FROM Users

Sorting with ORDER BY

In [ ]:
SELECT * FROM Users ORDER BY email

In [10]:
import sqlite3

conn=sqlite3.connect('emaildb.sqlite') # create the file
cur=conn.cursor()

cur.execute('''
DROP TABLE IF EXISTS Counts''')

cur.execute('''
CREATE TABLE Counts(email TEXT, count INTEGER)''')

fname=input('Enter file name: ')
if(len(fname)<1):fname ='mbox-short.txt'
fh=open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces=line.split()
    email=pieces[1]
    cur.execute('SELECT count FROM Counts WHERE email = ?', (email,))
    row=cur.fetchone()
    if row is None:
        cur.execute('INSERT INTO Counts(email,count) VALUES(?,1)',(email,))
    else:
        cur.execute('UPDATE Counts SET count = count+1 WHERE email=?',(email,))
    conn.commit()
sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'
for row in cur.execute(sqlstr):
    print(str(row[0]),row[1])
cur.close()

Enter file name: mbox-short.txt
cwen@iupui.edu 5
zqian@umich.edu 4
david.horwitz@uct.ac.za 4
louis@media.berkeley.edu 3
gsilver@umich.edu 3
stephen.marquard@uct.ac.za 2
rjlowe@iupui.edu 2
wagnermr@iupui.edu 1
antranig@caret.cam.ac.uk 1
gopal.ramasammycook@gmail.com 1

In [ ]:
CREATE TABLE Ages ( 
  name VARCHAR(128), 
  age INTEGER
)


DELETE FROM Ages;
INSERT INTO Ages (name, age) VALUES ('Adenn', 24);
INSERT INTO Ages (name, age) VALUES ('Colby', 36);
INSERT INTO Ages (name, age) VALUES ('Aila', 16);
INSERT INTO Ages (name, age) VALUES ('Dilan', 37);

SELECT hex(name || age) AS X FROM Ages ORDER BY X

In [28]:
import sqlite3

conn=sqlite3.connect('orgdb.sqlite') # create the file
cur=conn.cursor()

cur.execute('''
DROP TABLE IF EXISTS Counts''')

cur.execute('''
CREATE TABLE Counts(org TEXT, count INTEGER)''')

fname=input('Enter file name: ')
if(len(fname)<1):fname ='mbox.txt'
fh=open(fname)
for line in fh:
    if not (line.startswith('From: ')): continue
    org=line.split('@',1)[1]
    cur.execute('SELECT count FROM Counts WHERE org = ?', (org,))
    row=cur.fetchone()
    if row is None:
        cur.execute('INSERT INTO Counts(org,count) VALUES(?,1)',(org,))
    else:
        cur.execute('UPDATE Counts SET count = count+1 WHERE org=?',(org,))
    
conn.commit()    
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC'
for row in cur.execute(sqlstr):
    print(str(row[0]),row[1])

cur.close()

Enter file name: mbox.txt
iupui.edu
 536
umich.edu
 491
indiana.edu
 178
caret.cam.ac.uk
 157
vt.edu
 110
uct.ac.za
 96
media.berkeley.edu
 56
ufp.pt
 28
gmail.com
 25
et.gatech.edu
 17
txstate.edu
 17
whitman.edu
 17
lancaster.ac.uk
 14
bu.edu
 14
stanford.edu
 12
unicon.net
 9
loi.nl
 9
rsmart.com
 8
ucdavis.edu
 1
fhda.edu
 1
utoronto.ca
 1

In [ ]:
CREATE TABLE Album(
	id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
	name TEXT
)

In [ ]:
CREATE TABLE Track(
	id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
	title TEXT,
	album_id INTEGER,
	genre_id INTEGER,
	len INTEGER, rating INTERGER, count INTEGER
)
insert into Artist(name) values("Led Zepplin");
insert into Artist(name) values("AC/DC");
insert into Genre(name) values("Rock");
insert into Genre(name) values("Metal")

Reconsctructing Data with JOIN

In [ ]:
select Album.title, Artist.name from Album join Artist on Album.artist_id=Artist.id

In [ ]:
select Track.title, Genre.name from Track join Genre on Track.genre_id=Genre.id

In [ ]:
select Track.title, Album.title, Artist.name FROM Track JOIN Album JOIN Artist ON Track.album_id=Album.id AND Album.artist_id=Artist.id